body {
    font-family: Arial, sans-serif;
    background-color: #f8fafc;
    margin: 0;
    padding: 0;
}

.booking-form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.booking-form-container h2 {
    color: #e3342f;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"] {
    width: 575px;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group input[type="date"]:focus {
    border-color: #e3342f;
    outline: none;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e3342f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #cc1f1a;
}

.login-book {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #e3342f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.login-book:hover {
    background-color: #cc1f1a;
}
