body {
    font-family: Arial, sans-serif;
    background-color: #f8fafc;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box,
.register-box {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-box h2,
.register-box h2 {
    margin-bottom: 20px;
    color: #4a5568;
}

.input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    color: #4a5568;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e0;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-box {
    text-align: center;
}

.button-box button {
    background-color: #4a5568;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-box button:hover {
    background-color: #2d3748;
}

.login {
    text-align: center;
}

.captcha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#captcha-img {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.reload-btn {
    background: #66afe9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    transition: background 0.3s;
}

.reload-btn:hover {
    background: #357ab8;
}